<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/predict-form">
      <i class="bi bi-heart-pulse-fill"></i> StrokePredict
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/predict-form">
            <i class="bi bi-activity"></i> Predict
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history">
            <i class="bi bi-clock-history"></i> History
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" onclick="return confirm('Are you sure you want to log out?');">
            <i class="bi bi-box-arrow-right"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
